name: nezha_ui
description: "轻量、优雅且专业的 Flutter 移动端组件库。NezhaUI 致力于为现代应用开发提供丝滑、灵敏且高度可定制的 UI 组件。"
version: 1.0.1
homepage: "https://github.com/ctkqiang/nezha_ui.git"

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  get_storage: ^2.1.1
  url_launcher: ^6.3.1
  sqflite: ^2.3.0
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/docs/assets/
    - assets/example/assets/